.btn {
    background-color: #0890dd;
    height: 28px;
    width: 64px;
    font-size: 12px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 5px;
}


 .btn:hover {
     background-color: #0c69a5;
     box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
     transform: translateY(-3px);
}
 .fullt{
     height: 520px;
     margin: 0px;
}
 .colors1 {
     background-color: #0177bc3b;
     color: black !important;
     width: 15%;
     border-left: 1px solid black;
}
 .colors4 {
     background-color: #dff0d8bd;;
     color: black !important;
}

 .colors2 {
     background-color: #a9a9a95e !important;
     color: black !important;
     width: 50%;
}
 .colors3 {
     background-color: #97eff347 !important;
     color: black !important;
     width: 50%;
}
 .bnr{
     border-right: none;
}
 .bnl{
     border-left: none;
}
 .bnt{
     border-top: none;
}
 .bnb{
     border-bottom: none;
}
 table {
     border-collapse: collapse;
     width: 100%;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
     height: -webkit-fill-available;
}
 th, td {
     text-align: left;
     padding: 10px;
     text-align: center;
     border: 1px solid #ddd;
     margin: 0;
     padding: 0;
}
 th {
     background-color: #f2f2f2;
     font-weight: bold;
     text-align: center;
     padding: 15px;
     margin: 0;
     border: 1px solid #ddd;
     margin: 0;
     padding: 0;
     
}
 td {
     text-align: center;
     border: 1px solid #000000;
     margin: 0;
     padding: 0;
}
 td table {
     border: none;
     text-align: center;
     margin: 0;
     padding: 0;
}
 td table td {
     border: none;
     width: 30px;
     text-align: center;
     margin: 0;
     padding: 0;
     border-right: 1px solid black;
}
 td table th {
     border: none;
     text-align: center;
     margin: 0;
     padding: 0;
}
/* Style the rows alternating gray and white */
 tr:nth-child(even) {
     background-color: #f2f2f2;
}
/* Style the header row */
 thead th {
     background-color: #d7d4d4;
     color: black;
     margin: 0;
     padding: 0
}
 thead{
    font-size: 13px!important;
}
 tbody{
    font-size: 12px!important;
}

.ndive{
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 78px;
        font-size: 14px;
        font-weight: bold;
}