.monthname {
  color: #000;
  position: absolute;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  left: 259px;
}


.divrow {
  position: relative;
  text-align: center;
  display: flex;
  gap: 17px;
  margin-top: 25px;
}

.divstats-info {
  border-radius: 7px;
  box-sizing: border-box;
  padding: 20px;
}

.heading {
  color: #1F1F1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.heading2 {
  color: #1F1F1F;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}

.titel_sec_head {
  border-radius: 4px;
    background-color: #2DCA8C;
    overflow: hidden;
    font-size: 18px;
    padding: 6px 3px;
    text-align: center;
    margin-top: 31px;
    float: left;
    color: white;
    margin-left: 15px;
    margin-bottom: -1px;
}

.titel_sec_head2 {
  overflow: hidden;
  text-align: center;
  margin-top: 27px;
  float: right;
  right: -7px;
  gap: 13px;
  display: flex;
}

#monthYearInput {
  display: flex;
  padding: 5px 28px;
  align-items: flex-start;
  border-radius: 4px;
  float: left;
}

.btns {
  border-radius: 4px;
  border: 1px solid var(--g, #2DCA8C);
  background: var(--g, #2DCA8C);
  color: white;
  display: flex;
  height: 39px;
  padding: 3px 23px;
  justify-content: center;
  align-items: center;
}

table {
  margin-left: 16px;
  border-top: 1px solid;
  max-width: 97% !important;
}
.danger{
  height: 27px;
  width: 67px;
  display: inline-block;
  padding: 3px;
  color: black;
  border-radius: 13px;
  text-align: center;
  border: 1px solid #fc0000;
}
.suncces{
  height: 27px;
  width: 67px;
  display: inline-block;
  padding: 3px;
  color: black;
  border-radius: 13px;
  text-align: center;
  border: 1px solid #00ff15;
}
.table-responsive{
  overflow-x: inherit;
}
@media screen and (max-width: 992px) {
  .divrow {
      flex-direction: column;
  }
  .table-responsive{
    overflow-x: auto;
  }

  .medelbar {
      flex-direction: column;
      align-items: normal!important;
  }
}

@media screen and (max-width: 523px) {
    .monthname {
      left: 37px;
    }
}
