<!doctype html>
<html lang="en">
  <head>
    <title>Leave Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .navebar{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid black;
        padding-bottom: 3px;
    }
    .logo{
        display: flex;
        justify-content: start;
    }
    .title{
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    .bold{
        font-weight: bold;
    }
    p{
        line-height: 36%;
    }
    .massage_content {
        margin-top: 11px;
    }
    .namefiled{
        font-weight: 300;
        border-bottom: 1px dashed black;
    }
</style>
</head>
  <body>
    <div class="navebar">
        <div class="logo">
            <img src="http://parliament-document.mysoftheaven.com/assets/image/mysoftheaven.png" alt="">
        </div>
        <div class="title">
            <span class="title">LEAVE APPLICATION FORM</span>
        </div>

    </div>
    <div class="massage_content">
        <div class="top_massage">
            <p>From,</p>
            <p class="bold">Employee's Name : <span class="namefiled">Md Ahaduzzaman Apon</span></p>
            <p class="bold">Designation  : <span class="namefiled">Technical Team</span></p>
            <p class="bold">Application Date  : <span class="namefiled">12-02-2024</span></p>
        </div>
        <div class="bottom_massage">
            <p>To,</p>
            <p>The Director</p>
            <p class="bold">Mysoftheaven (BD) Ltd. </p>
            <p class="bold">Subject : <span class="namefiled">Permission for leave</span></p>
            <p class="bold">Dear Madam,</p>
            <p>I am requesting that the following leave be granted. I will report for work on<span class="namefiled">12-02-2024</span> I will hand over my duties and responsibilities</p><p> to  <span class="namefiled">Md Shahajahan Ali</span>  For the duration of my leave period my contact details would be <span>01737155233</span></p>

        </div>

    </div>





      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<!-- Mysoftheaven (BD) Ltd. A Complete IT Solution
LEAVE APPLICATION FORM
From,
Employee's Name:
Designation:
Application Date: /2023
To
The Director
Mysoftheaven (BD) Ltd.
Subject: Permission for leave.
Dear Madam,
I am requesting that the following leave be granted. I will report for work on my duties and responsibilities to I will hand over For the duration of my leave period my contact details
would be
PERIOD OF LEAVE APPLICATION
Start Date
End Date
No of Day
Leave Pattern
Earn
Sick
Reasons
Day Name
I request you to kindly approve my leave at the earliest and oblige.
Team leader Comments
Yours Sincerely,
FOR OFFICE USE ONLY
Received By
Previous Leave Record
Date:.......... /2023
Type of Leave
Days
Obtained Leave
Current Balance
Earned Leave
Sick Leave
Total Leave
12
04
16
Employee Info.
Joining Date:
Management Approval
Approved (with Pay).
Approved (without Pay).
Rejected.
*In Case of Sick Leave, a valid medical certificate must be attached.
Authorized Signature -->